.body {
  padding: 30px 0 455px;
  background-color: #f1f1f1;
  .name,
  .content {
    font-size: 20px;
    font-weight: 700;
    color: #0c0c0c;
    margin-bottom: 5px;
  }
  .content {
    font-size: 16px;
    font-weight: 400;
  }

  &-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-question {
    width: 67%;
    border-radius: 10px;
    padding: 20px;

    background-color: #fff;

    &__detail {
      height: 70px;
      border-radius: 8px;
      background-color: #ececec;
      padding: 0 25px;
      margin-top: 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      .detail-items {
        i,
        span {
          font-size: 15px;
          color: rgb(58, 58, 58);
        }
        i {
          margin-right: 5px;
        }
      }
    }
    &__items {
      padding: 20px 0 30px;
      border-bottom: 1px solid #e8e8e8;
      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    &__form {
      label{
        margin-right: 0;
      }
    }
  }
}
.controlle {
  background-color: #3a4bcd;
  padding: 10px 20px;
  border-radius: 8px;
  &-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
      display: flex;
      align-items: center;
      .MuiIconButton-label,
      .MuiCheckbox-colorSecondary.Mui-checked {
        color: #ffb83c;
    }
      p,
      label {
        color: #fff;
        display: inline;
        margin-right: 10px;
        font-size: 18px;
        user-select: none;
      }
    }
   
  }

  #select {
    background-color: rgb(157, 213, 251);
  }

  .oclock{
    margin-left: 10px !important;
  }

  .checked {
    background-color: rgb(255, 222, 183) !important;
  }

  .list-question {
    margin: 10px 0 7px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      padding: 7px 22px;
      border-radius: 8px;
      background: #fff;
      cursor: pointer;
      transition: all 0.3s;
      user-select: none;
      &:hover {
        background: #ffb83c;
        color: #fff;
      }
    }
  }
}


