.select {
  background-color: rgb(157, 213, 251) !important;
}

.list-question {
  li {
    display: inline-block;
    padding: 7px 20px;
    margin: 5px;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: #ffb83c;
      color: #fff;
    }
  }
}
